# This is Git's per-user configuration file.
[user]
	name = Anthony Wolski
	email = anthony.wolski@gmail.com
[push]
	default = simple
[commit]
	gpssign = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
