"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  "exception-reporting":
    userId: "6796effb-44ff-922d-55bf-fc4aaaf35377"
  welcome:
    showOnStartup: false
